* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: 600;
    text-align: left;
}

input, select, button {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

#resultado {
  padding-top: 10px;
  text-align: center;
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
    color: #333;
}

@media (max-width: 440px) {
    .container {
        padding: 15px;
    }

    h1 {
        font-size: 20px;
    }

    input, select, button {
        font-size: 14px;
    }

    #resultado {
        font-size: 14px;
    }
}